<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>schedule</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/bootstrap/assets/css/paper-kit.css?v=2.0.1" rel="stylesheet" />
<link href="/bootstrap/assets/css/demo.css" rel="stylesheet" />
<link href="/sweetalert/css/sweetalert2.css" rel="stylesheet" type="text/css">
<link href="/css/custom.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<!--     Fonts and icons     -->
<link
	href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700'
	rel='stylesheet' type='text/css' />
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="/bootstrap/assets/css/nucleo-icons.css" rel="stylesheet" />
<style>
p.msg {
	border: solid 1px lightgray;
	padding: 10px;
}
</style>
</head>
<body>
	<div th:replace="navi::nav"></div>
	<div class="wrapper">
		<div class="filter"></div>
		<div class="main">
			<div class="section section-buttons">
				<div class="container">
					<div class="tim-title">
						<h2>月間スケジュール 編集</h2>
					</div>
					<div class="row">
						<div class="btn-group month-select">
							<button id="month-btn" class="btn" th:classappend="(${month}==4) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="04">04</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==5) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="05">05</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==6) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="06">06</button>
							<button id="month-btn" class="btn" th:classappend="(${month}==7) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="07">07</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==8) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="08">08</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==9) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="09">09</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==10) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="10">10</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==11) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="11">11</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==12) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="12">12</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==1) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="01">01</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==2) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="02">02</button>
						 	<button id="month-btn" class="btn" th:classappend="(${month}==3) ? 'btn-info-selected' : 'btn-outline-info'" type="button" th:name="03">03</button>
						</div>
					</div>

					<div class="tim-title">
						<h3 th:text="|${month}月 スケジュール|"></h3>
					</div>

					<!-- TEST -->
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>日付</th>
									<th class="vh-center"></th>
									<th>時間</th>
									<th>場所</th>
									<th>予定</th>
									<th>当番</th>
									<th>サポーター</th>
									<th>役員</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							    <tr id="templete">
									<form method="post" th:action="@{/schedule/edit/complete}" th:id="form">
										<td><input type="text" class="form-control wid43 asyncUpd" th:id="day_x" th:name="day" /></td>
										<td class="vh-center">
											<p class="vh-center" id="dayOfWeek"></p>
											<input type="hidden" class="form-control asyncUpd" th:id="week_x" th:name="week" />
										</td>
										<td><input type="text"  class="form-control asyncUpd" th:id="timeFrame_x" th:name="timeFrame" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="place_x" th:name="place" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="program_x" th:name="program" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="tantouParent_x" th:name="tantouParent" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="tantouSupporter_x" th:name="tantouSupporter" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="tantouYakuin_x" th:name="tantouYakuin" /></td>
										
										<td class="action">
										<button type="button" class="form-control addlist" th:id="add_x" th:name="add">＋</button>
										<button type="button" class="form-control removelist" th:id="remove_x" th:name="remove">ー</button>
										</td>
										<input type="hidden" class="form-control" th:name="seq"/>
										<input type="hidden" class="form-control" th:name="nendo" th:value="${nendo}" />
										<input type="hidden" class="form-control" th:name="month" th:value="${month}" />
										<td><input type="button" class="none" th:name="submit_" /></td>
									</form>
								</tr>
								<tr th:each="scheduleDetail, stat: ${scheduleDetailFormList}">
									<form method="post" th:action="@{/schedule/edit/complete}" th:id="|form${stat.index}|">
										<td><input type="text" class="form-control wid43 asyncUpd" th:id="|day_${stat.index}|" th:name="day" th:value="*{scheduleDetail.day}" /></td>
										<td class="vh-center">
											<p class="vh-center" th:id="|dayOfWeek_${stat.index}|" th:text="|(${scheduleDetail.week})|"></p>
											<input type="hidden" class="form-control asyncUpd" th:id="|week_${stat.index}|" th:name="week" />
										</td>
										<td><input type="text"  class="form-control asyncUpd" th:id="|timeFrame_${stat.index}|" th:name="timeFrame" th:value="*{scheduleDetail.timeFrame}" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="|place_${stat.index}|" th:name="place" th:value="*{scheduleDetail.place}" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="|program_${stat.index}|" th:name="program" th:value="*{scheduleDetail.program}" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="|tantouParent_${stat.index}|" th:name="tantouParent" th:value="*{scheduleDetail.tantouParent}" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="|tantouSupporter_${stat.index}|" th:name="tantouSupporter" th:value="*{scheduleDetail.tantouSupporter}" /></td>
										<td><input type="text" class="form-control asyncUpd" th:id="|tantouYakuin_${stat.index}|" th:name="tantouYakuin" th:value="*{scheduleDetail.tantouYakuin}" /></td>
										
										<td class="action">
										<input type="button" class="form-control addlist" th:id="|${stat.index}|" th:name="add" th:value="＋"/>
										<input type="button" class="form-control removelist" th:id="|${stat.index}|" th:name="remove" th:value="ー"/>
										</td>
										<input type="hidden" class="form-control" th:name="seq" th:id="|seq_${stat.index}|" th:value="*{scheduleDetail.seq}" />
										<input type="hidden" class="form-control" th:name="nendo" th:value="${nendo}" />
										<input type="hidden" class="form-control" th:name="month" th:value="${month}" />
										<td><input type="button" class="none" th:name="|submit_${stat.index}|" /></td>
									</form>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- TEST end -->

				</div>
			</div>
		</div>
	</div>
	</div>
</body>

<!-- Core JS Files -->
<script src="/bootstrap/assets/js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/tether.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
<script src="/sweetalert/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/util.js" type="text/javascript"></script>
<script src="/js/schedule.js" type="text/javascript"></script>
<!--  Paper Kit Initialization snd functons -->
<script src="/bootstrap/assets/js/paper-kit.js?v=2.0.1"></script>

<script type="text/javascript">
$(function(){
	$('button#month-btn').click(function(){
		var $month = $(this).attr('name');
		window.location.href = "/schedule/edit/" + $month;
	});
});
</script>
<script type="text/javascript">

var $beforeValue = '';　// validationエラー時に戻す用の値を保持
$(document).ready( function() {

 	// 変更エラー時に戻すように値を保持する
    $('input').on('focus', function(){
        $beforeValue = $(this).val();
        $('input').removeClass("has-error");
    });
	
	// 行を追加する	
	$('.addlist').on("click", function () {
		var t = $(this).parent().parent();
		$('tr#templete').eq(0).clone(true).insertAfter(t);
		
		// 現在のDOMで表示されているtrの数を取得
		var $row_cnt = $("table tbody").children().length - 1;
		
		// trにコピーした行のidを設定（対象行の特定用）
		t.next("tr").attr('id', 'row' + $row_cnt);
		
		// form のidを設定
		$('#row' + $row_cnt + ' > form').attr('id', 'form'+ $row_cnt);
		
		// 子要素のp、button にidを設定
		$('#row' + $row_cnt + ' > td > p').attr('id', 'dayOfWeek' +'_'+ $row_cnt);
		$('#row' + $row_cnt + ' > td > button').attr('id', $row_cnt);
		
		// 子要素のinputにid、form-IDを設定（繰り返し）
		$('#row' + $row_cnt + ' > td > input').each(function() {
			var $base_name = $(this).attr('name');
			// idの設定
			$(this).attr('id',  $base_name +'_'+ $row_cnt);
			// formの指定　（cloneしたときにformの閉じタグの認識がうまくいかないため、inputタグごとにformを設定する）
			$(this).attr('form', 'form'+ $row_cnt);
		});
		
		// hidden要素のinputにid、form-IDを設定（繰り返し）
		$('#row' + $row_cnt + ' > input').each(function() {
			var $base_name = $(this).attr('name');
			// idの設定
			$(this).attr('id',  $base_name +'_'+ $row_cnt);
			// formの指定
			$(this).attr('form', 'form'+ $row_cnt);
		});
		
		// 行が2行以上となった場合は全行の行削除ボタンを押下できるようにする
		$('.removelist').prop("disabled", false);
	});

	
	// 行を削除する
	$('.removelist').on("click", function () {
		
		var $index = $(this).attr('id').lastIndexOf("_");
		var $formNo = $(this).attr('id').slice($index+1)
		
		// 対象行のSEQが空の場合はDB未登録のデータのためDB更新は行わない
		var $selector = '#seq_' + $formNo;
		var $selectorVal = $($selector).attr('value');
		
		if (typeof $selectorVal != "undefined") {
			// 非同期DB更新
			asyncDel($formNo).done(function(result) {
		    	//alert("成功");
			}).fail(function(result) {
				//alert("失敗");
			});
		}
		
		// 画面の表示行を削除する
		$(this).parent().parent().remove();
		
		// 残りが1行の場合は行削除ボタンを押下不可とする
		var $row_cnt = $("table tbody").children().length - 1;
		if ($row_cnt == 1){
			$('.removelist').prop("disabled", true);
		}
	});
	
 	// 行を一つ上に移動させる
	$('.uplist').on("click", function () {
		var t = $(this).parent().parent();
		if(t.prev("tr")) {
			t.insertBefore(t.prev("tr")[0]);
		}
	});

 	// 行を一つ下に移動させる
	$('.downlist').on('click', function() {
		var t = $(this).parent().parent();
		if(t.next("tr")) {
			t.insertAfter(t.next("tr")[0]);
		}
	});

 	// 行の一部を変更する
	$('.asyncUpd').on("change", function () {
		
		// idのアンダーバーの後ろが formNo
		var $index = $(this).attr('id').lastIndexOf("_");
		var $formNo = $(this).attr('id').slice($index+1)
		
		if($(this).attr('name')=='day'){
			
			// 曜日計算・設定
			var $nendo = $('#seq_' + $formNo).siblings('input[name="nendo"]').attr('value');
			var $month = $('#seq_' + $formNo).siblings('input[name="month"]').attr('value');
			var $year = $month > 3 ? $nendo : Number($nendo) +1;
			var $day = $('#day_' + $formNo).val();
			var $ymd = $nendo +'/'+ $month +'/'+ $day;
			var $dayOfWeek = getDayOfWeek($ymd);
			
			try{
				// 日付の有効無効チェック
				if(typeof $dayOfWeek === 'undefined'){
					throw new Error("無効な日付です");
				}
				
				// 有効な日付が入力されていたらweekの更新をおこなう
				$('#week_' + $formNo).attr("value", $dayOfWeek);
				$('#dayOfWeek_' + $formNo).text("(" + $dayOfWeek + ")");
				
			}catch(e){
				// エラーメッセージを表示
				$(this).val($beforeValue);
				$(this).addClass("has-error");
				swal("", "無効な日付です", "error");
			}
		}
		
		// 非同期DB更新
 		asyncUpd($formNo).done(function(data1, textStatus, jqXHR) {
			
			var $selector = '#seq_' + $formNo;
			var $selectorVal = $($selector).attr('value');
		
			// seqのvalueがない場合（追加行）は、valueを設定する。（ ->SEQは以後の更新／削除のキー項目）
			if (typeof $selectorVal === "undefined") {
				$($selector).val(data1.seq);
			}
	    	
		}).fail(function(jqXHR, textStatus, errorThrown) {
			//alert("失敗");
		}); 
	}); 
 	
	// 対象行がない場合は初期表示時にtempleteのコピーをおこなう
	var $row_cnt = $("table tbody").children().length - 1;
	
	if ($row_cnt == 0){
		$('#templete > td > button.addlist').click();
		
		// レコードが1行の場合は削除ボタンを押下不可とする
		$('.removelist').prop("disabled", true);
	}
});
//JSデバッグ用設定
//# sourceURL=scheduleUpd.js
</script>


</html>
