<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>user</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link href="/bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/bootstrap/assets/css/paper-kit.css?v=2.0.1" rel="stylesheet" />
<link href="/bootstrap/assets/css/demo.css" rel="stylesheet" />
<link href="/sweetalert/css/sweetalert2.css" rel="stylesheet" type="text/css">
<link href="/css/fontawesome-all.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<style>
p.msg {
	border: solid 1px lightgray;
	padding: 10px;
}
</style>
</head>
<body>
	<div th:replace="navi::nav"></div>
	<div class="wrapper">
		<div class="filter"></div>
		<div class="main">
			<div class="section section-buttons">
			    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/user}">ユーザー詳細</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/user/userDetail/{uid}(uid=${userForm.userId})}" th:id="userId" th:name="${userForm.userId}" th:text="|${userForm.userId} さん|"></a></li>
                    <li class="breadcrumb-item active"><a th:text="ユーザーの閲覧設定"></a></li>
                </ol>
				<div class="container">
					<div class="" role="alert" th:id="flash-message"  th:text="${message}"></div>
					<div class="tim-title">
						<h2>メンバーの閲覧設定</h2>
					</div>
					
                    <ul class="nav nav-tabs">
                    	<li th:each="nendo: ${nendoList}"  th:class="nav-item">
                    		<a class="nav-link" th:classappend="(${nendo} == ${currentNendo})? active"  th:href="|#tab${nendo}|" data-toggle="tab" th:text="${nendo}"></a>
                    	</li>
                    </ul>

                   <!-- パネル部分 -->
                    <div id="myTabContent" class="tab-content mt-3"> 
                       <div th:each="nendo: ${nendoMembers.keySet()}" th:id="|tab${nendo}|" class="tab-pane" th:classappend="(${nendo} == ${currentNendo})? active">
                            <div class="mw-100">
                                <div th:each="member: ${nendoMembers.get(nendo)}" id="usernendo" class="inlineBlock ">
                                	<button type="button" class="btn-custom badge-pill memberSetting btn-light" th:id="|member-${member.memberId}|" th:text="${member.memberName}" ></button>
                                </div>
                            </div>
                       </div>
					</div>

			</div>
		</div>
	</div>
</body>

<!-- Core JS Files -->

<script src="/bootstrap/assets/js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/tether.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/sweetalert/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript" ></script>
<script src="/js/member.js" type="text/javascript" ></script>

<!-- Plugin for Switches -->
<script src="/bootstrap/assets/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="/bootstrap/assets/js/nouislider.js"></script>

<!--  Paper Kit Initialization snd functons -->
<script src="/bootstrap/assets/js/paper-kit.js?v=2.0.1"></script>
<script src="/js/user.js"></script>
<script type="text/javascript">

$(document).ready( function() {
	
	$message = $('#flash-message').text();
	if ($message != null && $message != "") {
		flashMessage($message, "success");	
	}

});

</script>

</html>
