@CHARSET "UTF-8";

*:focus {
outline: none;
}

button {
	border-color: #FFFFFF;
}

.navbar .container {
	background-color: white;
}

.navbar .bgcolor-none {
	background-color: transparent;;
}

.btn-info-selected {
	background-color: #51bcda;
	color: rgba(255, 255, 255, 0.8);
	border-color: #51bcda;
}

.btn-info-selected:hover {
	background-color: #51bcda;
	color: rgba(255, 255, 255, 0.8);
	border-color: #51bcda;
}

.btn-selected {
	outline:none;
	transition: 0.3s ;
	background-color: #51bcda;
	color: rgba(255, 255, 255, 0.8);
	/* border-color: #51bcda; */
}

td.action {
	display: flex;
}

.addlist, .removelist {
	display: inline-block;
	margin-left: 14px;
}

tr#templete {
	display: none;
}

#flash-message {
	display: none;
}

.account-icon {
    padding: 1px 5px 5px 20px;
    color: #6f6f6f;
    margin: 15px 0 ;
}

.account-icon:hover {
    padding: 1px 5px 5px 20px;
    color: #403D39;
    margin: 15px 0 ;
}

.navi-dropdown {
    display: none;
    position:absolute;

    width: 180px;
    padding: 10px;
    background-color: white;
    
    border: solid 1px #c1c1c1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.20);
    text-align: left;
}

.account ul {
    margin: 0;
    padding: 0 0 0 10px;
}

.account ul li {
    display:inline-block;
    margin: 0;
    padding: 0 0 0 3px;
    width: 100%;
    font-size: 12px;
    list-style: none;
    line-height: 35px;
    color: #6f6f6f;
}

.account ul li[class*="link"]:hover {
    color: #403D39;
    text-shadow: 10px;
    background-color: #f8f8f8;
}

.account ul li a {
    display:block;
    width:100%;
}

.btm-border {
    padding-bottom: 10px;
    border-bottom: solid 0.5px #c1c1c1;
}

.changeTeam {
	outline:none;
	box-sizing: border-box;
	border-width: 2px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.75;
	cursor: pointer;
	text-transform: uppercase;
	opacity: 1;
	
	margin: 1px 0 1px 0;
	padding: 0px 20px 0px;
	width: 90px;
	height: 35px;
	background-color: #ffffff;
	border: solid 2px #c1c1c1;
	color: #c1c1c1;
	border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
	
}

.changeTeam:first-child {
	margin-left: 50px;
	border-right: none;
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.changeTeam:last-child {
	border-left: none;
	border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.changeTeam:hover {
	background-color: #a3a3a3;
	border-color: #c1c1c1;
	color: #ffffff;
}

.changeTeamSelected {
	background-color: #a3a3a3;
	border-color: #c1c1c1;
	color: #ffffff;
	outline:none;
}

.teamDispNone {
	display: none;
}

.inlineBlock {
	margin: 10px 7px;
	display: inline-block;
}

