<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<title>user</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link href="/bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/bootstrap/assets/css/paper-kit.css?v=2.0.1" rel="stylesheet" />
	<link href="/bootstrap/assets/css/demo.css" rel="stylesheet" />
	<link href="/sweetalert/css/sweetalert2.css" rel="stylesheet" type="text/css">
	<link href="/css/fontawesome-all.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />

<style>
p.msg {
	border: solid 1px lightgray;
	padding: 10px;
}
</style>
</head>
<body>
	<div th:replace="navi::nav"></div>
	<div class="wrapper">
		<div class="filter"></div>
		<div class="main">
		<div class="section section-buttons">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/member}">メンバー情報一覧</a></li>
                    <li class="breadcrumb-item active"><a th:text="|${memberForm.memberName} |"></a></li>
                </ol>
				<div class="container">   
					<div class="alert alert-success" role="alert" th:id="flash-message" th:if="${message}" th:text="${message}">フラッシュメッセージ</div>
					<div class="alert alert-error" role="alert" th:id="flash-err-message" th:if="${errorMessage}" th:text="${errorMessage}">フラッシュエラーメッセージ</div>
					<div class="tim-title label-btn">
						<div>
							<h3 class="mt-2">メンバー情報</h3>
						</div>
						<div>
							<a th:href="@{/member/edit/input/{mid}(mid=${memberForm.memberId})}"  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OFFICER')" class="btn btn-info">編集</a>
                            <button type="button" id="deletelbtn"  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OFFICER')" class="btn btn-info">削除</button>
						</div>
					</div>
					<div>
						<table class="table">
								<tr>
                                    <th class="w-25">対象年度</th>
                                    <td th:id="nendo" th:text="${memberForm.nendo}"></td>
								</tr>
								<tr>
                                    <th>チーム</th>
                                    <td th:text="${EnumTeam.name}"></td>
								</tr>
                            	<tr>
                                    <th>背番号</th>
                                    <td th:text="${EnumSebango.name}"></td>
								</tr>
                            	<tr>
                                    <th>名前</th>
                                    <td th:text="${memberForm.memberName}"></td>
								</tr>
                            	<tr>
                                    <th>名前（カナ）</th>
                                    <td th:text="${memberForm.memberNameKn}"></td>
								</tr>
								<tr>
                                    <th>学年</th>
                                    <td th:text="${EnumGrade.name}"></td>
								</tr>
						</table>
					</div>
					
				</div>
			</div>
		</div>
		<div>
		<form th:action="@{/member/delete/transactfinish}" th:id="memberdelete" th:class="none" th:method="POST" th:object="${memberForm}">
			<input type="hidden" th:name="memberId" th:value="${memberForm.memberId}">
			<input type="submit" id="deletelbtn">
		</form>
		</div>
	</div>
</body>

<!-- Core JS Files -->

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/bootstrap/assets/js/tether.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/sweetalert/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript" ></script>
<script src="/js/member.js" type="text/javascript" ></script>
<script src="/js/memberedit.js" type="text/javascript" ></script>

<!-- Plugin for Switches -->
<script src="/bootstrap/assets/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="/bootstrap/assets/js/nouislider.js"></script>

<!--  Paper Kit Initialization snd functons -->
<script src="/bootstrap/assets/js/paper-kit.js?v=2.0.1"></script>
<script type="text/javascript">

$(document).ready( function() {
	
	$message = $('#flash-message').text();
	if ($message != null && $message != "") {
		flashMessage($message, "success");	
	}
	
	$errMessage = $('#flash-err-message').text();
	if ($errMessage != null && $errMessage != "") {
		flashMessage($errMessage, "error");	
	}

});

</script>

</html>
