<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>member</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
<link href="/bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/bootstrap/assets/css/paper-kit.css?v=2.0.1" rel="stylesheet" />
<link href="/bootstrap/assets/css/demo.css" rel="stylesheet" />
<link href="/sweetalert/css/sweetalert2.css" rel="stylesheet" type="text/css">
<link href="/css/fontawesome-all.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<style>
p.msg {
	border: solid 1px lightgray;
	padding: 10px;
}
</style>
</head>
<body>
	<div th:replace="navi::nav"></div>
	<div class="wrapper">
		<div class="filter"></div>
		<div class="main">
			<div class="section section-buttons">
				<div class="container">
					<div class="" role="alert" th:id="flash-message"  th:text="${message}"></div>
					<div class="tim-title">
						<div class="label-btn">
							<div>
								<h2 class="title">メンバー情報一覧</h2>
							</div>
							<div>
								<h3 class="title"></h3>
							</div>
							<div class="btn-group">
								<a th:each="nendo: ${nendoList}" 
								class="btn btn-link" 
								th:classappend="${nendo}==${selectedNendo} ? 'member-nendo-selected' : 'member-nendo'"
								th:href="@{/member?nendo=} + ${nendo}" 
								th:name="select + ${nendo}" th:text="@{${nendo} + '年度'}">
								</a>
							</div>
						</div>
					</div>
					
					<div class="tim-title label-btn">
						<div class="label-btn">
							<div>
								<h3 class="title">登録メンバー</h3>
							</div>
							<div class="btn-group">
								<button class="changeTeam" type="button" th:name="selectbig">ビッグ</button>
							 	<button class="changeTeam" type="button" th:name="selectall">ALL</button>
							 	<button class="changeTeam" type="button" th:name="selectyabedan">ヤベダン</button>
							</div>
							<div>
								<h3 class="title"></h3>
							</div>
						</div>
						<div>
							<a href="/member/regist/input" class="btn btn-info">新規メンバー登録</a>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th class="wid9">チーム</th>
									<th>背番号</th>
									<th>名前</th>
									<th>学年</th>
									<th class="wid20"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="member: ${memberList}"  data-href="member/regist" class="tr-hover">
									<td class="wid7" name="big" th:if="${member.teamKubun == T(jp.wat.basket.common.Enum.EnumTeamKubun).BIG.code}">
										<img th:src="@{/img/bibs11.png}" alt="ビッグ" width="40" height="40"/>
									</td>
									<td class="wid7" name="yabedan" th:if="${member.teamKubun == T(jp.wat.basket.common.Enum.EnumTeamKubun).YABEDAN.code}">
										<img th:src="@{/img/bibs12.png}" alt="ヤベダン" width="40" height="40"/>
									</td>
									<td th:text="${member.displayNo}" class="vertical-min wid9"></td>
									<td th:text="${member.memberName}" class="vertical-min wid30"></td>
									<td th:text="${member.grade}" class="vertical-min"></td>
									<td class="vertical-min">
									  <a th:href="@{'member/edit/input/' + ${member.memberId}}" class="btn btn-info btn-mgin-pd-01 btn-hidden">編集</a>
									  <a th:href="@{'member/delete/confirm/' + ${member.memberId}}" class="btn btn-info btn-mgin-pd-01 btn-hidden">削除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

<!-- Core JS Files -->

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/bootstrap/assets/js/tether.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/sweetalert/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript" ></script>
<script src="/js/member.js" type="text/javascript" ></script>

<!-- Plugin for Switches -->
<script src="/bootstrap/assets/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="/bootstrap/assets/js/nouislider.js"></script>

<!--  Paper Kit Initialization snd functons -->
<script src="/bootstrap/assets/js/paper-kit.js?v=2.0.1"></script>

<script type="text/javascript">

$(document).ready( function() {
	
	$message = $('#flash-message').text();
	if ($message != null && $message != "") {
		flashMessage($message, "success");	
	}
	
	$('button.changeTeam').click(function(){
		// 選択状態を解除して、クリックしたボタンに選択状態のクラスを付与する
		$('button.changeTeam').removeClass("changeTeamSelected");
		$(this).addClass("changeTeamSelected");
		
		$selectTeam = $(this).attr("name");
		
		// フィルタを解除する
		$('[name="big"]').parent().removeClass("teamDispNone");
		$('[name="yabedan"]').parent().removeClass("teamDispNone");
		
		// 一覧のフィルタ（ビッグを選択したらヤベダンを非表示。ヤベダンを選択したらビッグ非表示とする）
		if($selectTeam == 'selectbig') {
			$('[name="yabedan"]').parent().addClass("teamDispNone");
		}
		if($selectTeam == 'selectyabedan') {
			$('[name="big"]').parent().addClass("teamDispNone");
		}
	});
	
});

</script>

</html>
