<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
　<div id="global-navbar">
    <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
        <div  th:class="|container ${bgColorNone}|">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" href="/top">Big ＆ Yabedan</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="/schedule">
                            <p>スケジュール</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="/top">
                            <p>対戦成績</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="/member">
                            <p>メンバー</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="/top" >
                            <p>お知らせ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="/top" >
                            <p>ギャラリー</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-account">
                        <i class="account-icon fas fa-user fa-lg"></i>
                        <div th:class="|navi-dropdown ${bgColorNone}|">
                            <div>
                                <div class="account">
                                   <ul>
                                       <li class="btm-border" th:text="|${userName} さん こんにちは|">高橋さん こんにちは</li>
                                       <li class="link"><a href="">個人設定</a></li>
                                       <li class="link" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OFFICER')"><a href="">チーム設定（役員専用）</a></li>
                                       <li class="link btm-border" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OFFICER')"><a href="/user">利用者設定（役員専用）</a></li>
                                       <li class="link"><a  rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="/logout">ログアウト</a></li>
                                    
                                   </ul>
                                </div>
                            </div>
                        </div>
                        </div>
					</li>
                </ul>
            </div>
        </div>
    </nav>
  </div>
</body>
</html>
